@charset "utf-8";

/* 
    File Name  : layout.css   
    Description: 各ブロックのレイアウト 
*/
/* BASE */

body {
  line-height: 1.8;
  color: #000;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
    Meiryo, Osaka, "MS Pゴシック", "MS PGothic", "sans-serif";
  font-size: 14px;
  padding-top: 120px;
}
body.is-open {
  position: fixed;
  width: 100%;
  overflow: hidden;
}
@media screen and (max-width: 811px) {
  body {
    padding-top: 50px;
  }
}

/* hypertext */
a {
  color: #000;
  text-decoration: none;
  outline: none;
  transition: all 0.2s ease-in-out;
}
a:hover,
a:active {
  text-decoration: underline;
}
a img {
  border: none;
}
a.over:hover,
a:hover img.over,
input.over:hover {
  text-decoration: none;
  opacity: 0.7;
}
img {
  max-width: 100%;
  height: auto;
}
/* 以下確認 */
/* .sp-link:hover {
  text-decoration: none;
  cursor: default;
} */

.font-lato {
  font-family: "lato", sans-serif;
}

/* pc-only sp-only */
@media screen and(min-width: 812px) {
  .sp-only {
    display: none !important;
  }
}
@media screen and(max-width: 811px) {
  .pc-only {
    display: none !important;
  }
}
/* header */
.header {
  background: #392d2b;
  box-shadow: 0 2px 4ps rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.header__logo-wrap {
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.header__logo {
  position: absolute;
  top: 50%;
  left: 20px;
  line-height: 0;
  transform: translateY(-50%);
}
.header__logo img {
  width: 132px;
  vertical-align: middle;
}
.header-guide {
  text-align: right;
}
.header-guide-list {
  display: inline-flex;
  -webkit-align-items: stretch;
  align-items: stretch;
  position: relative;
  z-index: 1;
}
.header-guide-list__item:not(.header-guide-list__item--nav) {
  height: 60px;
}
.header-guide-list__item a {
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-cotent: center;
  justify-content: center;
}
.header-guide-list__item--sns {
  margin: 0 30px 0 0;
}
.header-guide-list__item--sns img {
  height: 20px;
  vertical-align: middle;
}
.header-guide-list__item--nav {
  position: relative;
  width: 24px;
  margin: 20px 30px;
  cursor: pointer;
}
.header-guide-list__item--nav:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: -30px;
  width: 1px;
  height: 14px;
  background: rgba(255, 255, 255, 0.25);
  transform: translateY(-50%);
}
.header-guide-list__item--nav span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  transition: all 0.3s;
}
/* ハンバガーメニュー　動きを追加する */
.header-guide-list__item--nav span:nth-child(1) {
  top: 0;
}
.header-guide-list__item--nav span:nth-child(2) {
  top: 50%;
  margin: -1px 0 0;
}
.header-guide-list__item--nav span:nth-child(3) {
  bottom: 0;
}
.header-guide-list__item--nav:not(.is-open):hover span:nth-of-type(1) {
  top: 2px;
}
.header-guide-list__item--nav:not(.is-open):hover span:nth-of-type(3) {
  bottom: 2px;
}
.header-guide-list__item--nav.is-open span:nth-child(1) {
  transform: translateY(9px) rotate(-45deg);
}
.header-guide-list__item--nav.is-open span:nth-child(2) {
  opacity: 0;
}
.header-guide-list__item--nav.is-open span:only-child(3) {
  transform: translateY(-9px) rotate(45deg);
}
/* ハンバーガーメニュー終わり */

.header-guide-list__item--recruit a {
  width: 150px;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  font-family: "Cormorant SC", serif;
  text-align: center;
  background: #614d4a;
}
.header-guide-list__item--ec a {
  width: 220px;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  font-family: "Cormorant SC", serif;
  text-align: center;
  background: #d88832;
}
.header-guide-list__item--ec a span {
  display: inline-block;
  padding: 0 0 0 25px;
  background: url() no-repeat 0 50%;
  background-size: 17px auto;
}
/* グローバルナビ↓ */
.global-nav {
  background: #fff;
}
.global-nav-list {
  display: flex;
  justify-content: center;
  position: relative;
}
.global-nav-list__item {
  background: url() no-repeat 0 50%;
}
.global-nav-list__item:last-child {
  background: url() no-repeat 0 50%, url() no-repeat 100% 50%;
}
.global-nav-list__item > a {
  display: block;
  height: 60px;
  padding: 0 30px;
  color: #392d2b;
  font-weight: bold;
}
