@charset "utf-8";

/* 
    File Name  : layout.css   
    Description: 各ブロックのレイアウト 
*/
/* BASE */

body {
  line-height: 1.8;
  color: #000;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
    Meiryo, Osaka, "MS Pゴシック", "MS PGothic", "sans-serif";
  font-size: 14px;
  padding-top: 120px;
}
body.is-open {
  position: fixed;
  width: 100%;
  overflow: hidden;
}
@media screen and (max-width: 811px) {
  body {
    padding-top: 50px;
  }
}

/* hypertext */
a {
  color: #000;
  text-decoration: none;
  outline: none;
  transition: all 0.2s ease-in-out;
}
a:hover,
a:active {
  text-decoration: underline;
}
a img {
  border: none;
}
a.over:hover,
a:hover img.over,
input.over:hover {
  text-decoration: none;
  opacity: 0.7;
}
img {
  max-width: 100%;
  height: auto;
}
/* 以下確認 */
/* .sp-link:hover {
  text-decoration: none;
  cursor: default;
} */

.font-lato {
  font-family: "lato", sans-serif;
}

/* pc-only sp-only */
@media screen and(min-width: 812px) {
  .sp-only {
    display: none !important;
  }
}
@media screen and(max-width: 811px) {
  .pc-only {
    display: none !important;
  }
}
/* header */
.header {
  background: #392d2b;
  box-shadow: 0 2px 4ps rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.header_logo-wrap {
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.header_logo {
  position: absolute;
  top: 50%;
  left: 20px;
  line-height: 0;
  transform: translateY(-50%);
}
.header_logo img {
  width: 132px;
  vertical-align: middle;
}
.header-guide {
  text-align: right;
}
.header-guide-list {
  display: inline-flex;
  -webkit-align-items: stretch;
  align-items: stretch;
  position: relative;
  z-index: 1;
}
.header-guide-list__item:not(.header-guide-list__item--nav) {
  height: 60px;
}
.header-guide-list__item a {
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-cotent: center;
  justify-content: center;
}
.header-guide-list__item--sns {
  margin: 0 30px 0 0;
}
.header-guide-list__item--sns img {
  height: 20px;
  vertical-align: middle;
}
.header-guide-list__item--nav {
  position: relative;
  width: 24px;
  margin: 20px 30px;
  cursor: pointer;
}
.header-guide-list__item--nav:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: -30px;
  width: 1px;
  height: 14px;
  background: rgba(255, 255, 255, 0.25);
  transform: translateY(-50%);
}
.header-guide-list__item--nav span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  transition: all 0.3s;
}
/* ハンバガーメニュー　動きを追加する */
.header-guide-list__item--nav span:nth-child(1) {
  top: 0;
}
.header-guide-list__item--nav span:nth-child(2) {
  top: 50%;
  margin: -1px 0 0;
}
.header-guide-list__item--nav span:nth-child(3) {
  bottom: 0;
}
.header-guide-list__item--nav:not(.is-open):hover span:nth-of-type(1) {
  top: 2px;
}
.header-guide-list__item--nav:not(.is-open):hover span:nth-of-type(3) {
  bottom: 2px;
}
.header-guide-list__item--nav.is-open span:nth-child(1) {
  transform: translateY(9px) rotate(-45deg);
}
.header-guide-list__item--nav.is-open span:nth-child(2) {
  opacity: 0;
}
.header-guide-list__item--nav.is-open span:only-child(3) {
  transform: translateY(-9px) rotate(45deg);
}
/* ハンバーガーメニュー終わり */

.header-guide-list__item--recruit a {
  width: 150px;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  font-family: "Cormorant SC", serif;
  text-align: center;
  background: #614d4a;
}
.header-guide-list__item--ec a {
  width: 220px;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  font-family: "Cormorant SC", serif;
  text-align: center;
  background: #d88832;
}
.header-guide-list__item--ec a span {
  display: inline-block;
  padding: 0 0 0 25px;
  background: url() no-repeat 0 50%;
  background-size: 17px auto;
}
/* グローバルナビ↓ */
.global-nav {
  background: #fff;
}
.global-nav-list {
  display: flex;
  justify-content: center;
  position: relative;
}
.global-nav-list__item {
  background: url() no-repeat 0 50%;
}
.global-nav-list__item:last-child {
  background: url() no-repeat 0 50%, url() no-repeat 100% 50%;
}
.global-nav-list__item > a {
  display: block;
  height: 60px;
  padding: 0 30px;
  color: #392d2b;
  font-weight: bold;
}

.global-nav-list__item > a:hover {
  text-decoration: none;
}

.global-nav-list__item > a span {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.global-nav-list__item > a span:after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 0;
  height: 2px;
  background: #382d2b;
  transition: all 0.2s ease;
}

.global-nav-list__item > a:hover span:after {
  width: 100%;
}
.global-nav-list-sub-wrap {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  background: rgba(97, 77, 74, 0.9);
  z-index: 10;
}
.global-nav-list-sub-wrap.img-none span {
  padding: 20px 0;
  text-align: center;
  margin: 0 !important;
  display: block;
  width: 100%;
}

.global-nav-list-sub {
  display: flex;
  max-width: 960px;
  margin: 0 auto;
  border-left: 1px solid #392d2b;
  box-sizing: border-box;
}
.global-nav-list-sub__item {
  width: 50%;
  border-right: 1px solid #392d2b;
  box-sizing: border-box;
}

.global-nav-list-sub__item {
  width: 50%;
  border-right: 1px solid #392d2b;
  box-sizing: border-box;
}

.global-nav-list-sub__item a {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

.global-nav-list-sub__item a:hover {
  text-decoration: none;
}

.global-nav-list-sub__item a span {
  display: block;
  overflow: hidden;
}

.global-nav-list-sub__item a span:first-child {
  margin: 0 35px 0 0;
}

.global-nav-list-sub__item a img {
  min-width: 168px;
  transition: all 0.2s ease-in-out;
}

.global-nav-list-sub__item a:hover img {
  transform: scale(1.1);
}

/* グローバルナビoverlay 未対応 （363-422まで）*/
.global-nav-overlay {
  display: none;
  position: absolute;
  top: 60px;
  right: 0;
  bottom: 0;
  left: 0;
  height: calc(100vh - 60px);
  overflow: auto;
  color: #fff;
  background: #392d2b;
  z-index: 150;
}
.global-nav-overlay-list .contents {
  width: calc(100% - 30px);
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.global-nav-overlay-list_label {
  line-height: 1.3;
  margin: 0 0 20px;
  font-size: 30px;
  font-family: "Cormorant SC", serif;
  font-weight: 500;
}
.global-nav-overlay-list dl {
  margin: 0 0 50px;
}
.global-nav-overlay-list dl:last-child {
  margin: 0;
}
.global-nav-overlay-list_date li {
  margin: 0 0 10px;
}
.global-nav-overlay-list_date a {
  display: inline-block;
  color: #fff;
}
.global-nav-overlay-list_date a[target="_blank"] {
  padding: 0 20px 0 0;
  background: url();
  background-size: 12px auto;
}
.global-nav-overlay-list_date a.pdf {
  padding: 0 35px 0 0;
  background: url();
  background-size: 24px auto;
}

@media screen and (min-width: 812px) {
  /* header.is-scroll */
  .global-nav-list-sub-wrap,
  .header__logo-wrap,
  .header-guide-list__item,
  .global-nav-list__item > a {
    transition: 0.3s ease-in-out;
  }
  .header.is-scroll .header__logo-wrap,
  .header.is-scroll .header-guide-list__item:not(.header-guide-list__item--nav),
  .header.header.is-scroll .global-nav-list__item > a {
    height: 50px;
  }
  .header.is-scroll .global-nav-list-sub-wrap {
    top: 50px;
  }
  .header.is-scroll .header-guide-list__item--nav {
    margin: 15px 30px;
  }
}
@media screen and(max-width: 990px) {
  .global-nav-list__item > a {
    padding: 0 2.8vw;
    font-size: 13px;
  }
}

@media screen and(max-width: 811px) {
  .header__logo {
    left: 15px;
  }
  .header__logo img {
    width: 100px;
  }
  .header__logo-wrap,
  .header-guide-list__item:not(.header-guide-list__item--nav) {
    height: 50px;
  }
  .header-guide-list__item--sns {
    width: 40px;
    margin: 0;
    border-left: 1px solid rgba(255, 255, 255, 0.25);
  }
  .header-guide-list__item--sns a {
    text-align: center;
  }
  .header-guide-list__item--sns img {
    height: 18px;
  }
  .header-guide-list__item--nav {
    width: 40px;
    margin: 0;
    background: #614e4a;
  }
  .header-guide-list__item--nav:before {
    content: none;
  }
  .header-guide-list__item--nav span {
    left: 50%;
    width: 50%;
    transform: translateX(-50%);
  }
  .header-guide-list__item--nav span:nth-child(1) {
    top: 16px;
  }
  .header-guide-list__item--nav span:nth-child(3) {
    bottom: 16px;
  }
  /* 508から */
  .header-guide-list__item--nav:not(.is-open):hover span:nth-of-type(1) {
    top: 16px;
  }
  .header-guide-list__item--nav:not(.is-open):hover span:nth-of-type(3) {
    bottom: 16px;
  }
  .header-guide-list__item--nav.is-open span:nth-child(1) {
    transform: translate(-50%, 8px) rotate(-45deg);
  }
  .header-guide-list__item--nav.is-open span:nth-child(3) {
    transform: translate(-50%, 8px) rotate(45deg);
  }
  .header-guide-list__item--recruit {
    display: none;
  }
  .header-guide-list__item--ec {
    display: none;
  }
  /* グローバルナビゲーションをSPで消したい */
  .global-nav {
    display: none;
  }
  .global-nav-overlay {
    top: 50px;
    padding: 30px 0;
  }

  .global-nav-overlay .contents {
    height: calc(100vh - 70px);
    overflow: auto;
    box-sizing: border-box;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    position: static;
    transform: none;
  }
  .global-nav-overlay-list {
    width: 48.5%;
  }
  .global-nav-overlay-list:last-child {
    padding-bottom: 70px;
  }
  .global-nav-overlay-list dl {
    margin: 0 0 30px;
  }
  .global-nav-overlay-list dl:last-child {
    margin: 0;
  }
  .global-nav-overlay-list_label {
    margin: 0 0 15px;
    font-size: 20px;
  }
  .global-nav-overlay-list_data {
    margin: 0 0 30px;
    font-size: 12px;
  }
  .global-nav-overlay-list_data a,
  .global-nav-overlay-list_data a[target="_blank"] {
    position: relative;
    padding-left: 1em;
  }
  .global-nav-overlay-list_data a:before {
    content: "";
    width: 4px;
    height: 4px;
    position: absolute;
    top: 50%;
    left: 0;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: translateY(-50%) rotate(45deg);
  }
}
/* 536-594 globalnav-overlay の部分 */

/* topic path  */
.topic-path {
  position: absolute;
  top: 140px;
  left: 20px;
  color: #666;
  font-size: 12px;
  z-index: 10;
}
.topic-path-list {
  display: flex;
}
.topic-path-list__item {
  position: relative;
  margin: 0 30px 0 0;
}
.topic-path-list__item::after {
  content: none;
}
.topic-path-list__item:last-child::after {
  content: none;
}
.topic-path-list__item a {
  color: #666;
}
@media screen and (max-width: 811px) {
  .topic-path {
    display: none;
  }
}
/* .container  */
.container {
  overflow: hidden;
  margin: 100px 0 90px;
}

@media screen and (max-width: 811px) {
  .container {
    margin: 30px 0 50px;
  }
}
.all_sub_follow_sec {
  padding: 120px 0 0;
}

/* At Home  */

/* .hygge_athome {
  position: relative;
} */
.all_sub_container {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
}
.title_sec {
  padding-left: 10%;
}
.all_title_inner {
  font-weight: 200;
  font-size: 24px;
  font-family: "Cormorant SC", serif;
  background-color: antiquewhite;
  padding: 2px;
}
.all_title_head {
  line-height: 1;
  font-weight: 100;
  font-size: 30px;
  overflow: hidden;
}
/* テキストの配置途中 */

/* .hygge_flow_text,
.hygge_athome_img {
  display: inline-block;
  vertical-align: middle;
} */

.hygge_flow_text {
  font-size: 18px;
  white-space: nowrap;
  line-height: 2;
  letter-spacing: 2;
}
/* AT HOME  */
.athome1,
.athome3 {
  display: flex;
}
.athome2 {
  display: flex;
  padding: 5%;
  justify-content: center;
}
.athome4 {
  display: flex;
  justify-content: center;
  padding-top: 5%;
}
.athome_text1 {
  padding-left: 10%;
  padding-top: 15%;
}
.athome_text2 {
  padding-top: 8%;
  padding-left: 10%;
}
.athome_text3 {
  padding: 10%;
}
.athome_text4 {
  padding-top: 6%;
  padding-left: 8%;
}
/* 画像のサイズ */
.athome_img1 {
  width: 70vw;
  height: auto;
  padding-left: 10%;
}
.athome_img2 {
  width: 45vw;
  height: auto;
  top: -10%;
}
.athome_img3 {
  width: 55%;
  height: auto;
}
.athome_img4 {
  width: 40vw;
  height: auto;
  padding-left: 10%;
}

/* CANDLE  */
.candle1,
.candle2,
.candle3,
.candle4 {
  padding-left: 10%;
  display: flex;
  justify-content: center;
}
.candle3 {
  padding-top: 6%;
}
.candle_text1 {
  padding: 10%;
}
.candle_text2 {
  padding: 7%;
}
.candle_text3 {
  padding: 7%;
}
.candle_text4 {
  padding: 18%;
}
.candle_img1 {
  width: 40%;
}
/* .candle_img2 {
  width: 30%;
  height: auto;
} */
.candle_img3 {
  width: 55%;
  height: auto;
}
.candle_img4 {
  padding-top: 10%;
  width: 30%;
}
/* FOOD  */
.food1,
.food2,
.food3,
.food4 {
  padding-left: 10%;
  display: flex;
  justify-content: center;
}
.food_text1 {
  padding: 6%;
}
.food2 {
  padding-top: 70px;
}
.food_img2 {
  width: 30%;
  padding-left: 15%;
  position: absolute;
  top: 18%;
}
.food_text2 {
  padding: 15%;
}
.food3 {
  padding: 6%;
}
.food_img3 {
  width: 35%;
}
.food_text3 {
  padding: 7%;
}
.food_img4 {
  width: 50%;
  height: auto;
  padding-left: 8%;
}
.food_text4 {
  padding: 6%;
}
.food_img5 {
  width: 60%;
  height: auto;
  padding-left: 10%;
}
.food_img6 {
  padding-left: 15%;
  width: 33%;
  height: auto;
  position: absolute;
  top: 93%;
}

/* OutDoor */
.outdoor1,
.outdoor2,
.outdoor3,
.outdoor4,
.outdoor5 {
  padding-left: 10%;
  display: flex;
  justify-content: center;
}
.outdoor_ttl {
  padding-top: 8%;
}
.outdoor1 {
  padding: 5% 5% 0 5%;
}
.outdoor_text1 {
  padding: 8%;
}
.outdoor_img2 {
  width: 40%;
  top: 50%;
}
.outdoor_img3 {
  width: 53%;
  padding: 6%;
}
.outdoor_text3 {
  padding: 10%;
}
.outdoor_text4 {
  padding: 7%;
}
.outdoor_img6 {
  width: 35%;
  padding-left: 25%;
  /* position: absolute;
  top: 78%; */
}
.outdoor5 {
  padding: 5%;
}
.outdoor_img7 {
  width: 50%;
}
.outdoor_text5 {
  padding-left: 8%;
}

.page-top a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 0 0 5px;
  border-color: transparent transparent transparent #000;
}
.page-top a:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  border-left: 1px solid #000;
}
/* 画像仮のサイズ */
/* .athome_main_img {
  margin-top: 50px;
  margin-left: 250px;
}
.athome_img2 {
  position: absolute;
  width: 60vw;
  left: 0;
  top: 70vh;
}
.athome_img3 {
  position: absolute;
  left: 40vw;
  top: 80vw;
}
.athome_img4 {
  position: absolute;
  margin-top: 60%;
  width: 40vw;
  left: 15%;
} */

/* footer  */
.footer-bottom {
  overflow: hidden;
  line-height: 1.1;
  padding: 25px 0;
  color: #fff;
  background: #392d2b;
}
.footer-bottom-nav {
  float: left;
  font-size: 12px;
}
.footer-bottom-nav__item {
  float: left;
  margin: 0 15px 0 0;
  padding: 0 15px 0 0;
  border-right: 1px solid #fff;
}
.footer-bottom-nav__item:last-child {
  margin: 0;
  padding: 0;
  border: none;
}
.footer-bottom-nav__item a {
  color: #fff;
}
.footer-bottom__copyright {
  float: right;
  color: #fff;
  font-size: 10px;
  font-family: serif;
}
/* スマホ設定確認 */
