@charset "utf-8";

/* common */
.header {
  margin-bottom: 0;
}
.container {
  margin-top: 0;
}

.global-nav-list__item:nth-child(5) a span:after {
  width: 100%;
}
.think-kv {
  position: relative;
  height: calc(100vh - 120px);
  min-height: 600px;
}
.think-kv__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.think-kv__ttl {
  position: relative;
  top: 42%;
}

@media screen and (max-width: 811px) {
  .think-kv {
    height: 50vh;
    min-height: 280px;
  }
  .think-kv__ttl {
    top: 38%;
    max-width: 70%;
    margin: 0 auto;
  }
}
/*======= index ===========*/
.contents__think {
  padding: 110px 0 10px;
}
.contents__think__ttl {
  text-align: center;
  font-size: 26px;
  margin-bottom: 1.5em;
}
.contents__think__ttl > span {
  margin: 0 0.5em;
}
.contents__think__lead {
  text-align: center;
  line-height: 2.5;
  margin-bottom: 110px;
}
.contents__think__lead2 {
  display: flex;
  justify-content: space-between;
}
.hygge-img {
  width: 60%;
  height: auto;
}
.lead2 {
  padding: 80px;
}
/*＝＝＝＝＝ index 終わり ＝＝＝＝＝＝*/

/*＝＝＝＝＝ リンクボタン ＝＝＝＝＝＝＝*/
.navlist_sec {
  display: block;
  position: fixed;
  top: 50%;
  left: 5%;
  line-height: 1.6;
  background-color: #faebd7;
  opacity: 0.8;
}
.navlist {
  font-size: 20px;
}
.floating-box {
  width: 60px;
  height: 160px;
  position: fixed;
  top: 60%;
  right: 0px;
  background-color: #392d2b;
  color: #ffffff;
  writing-mode: vertical-rl;
}
.rink-btn {
  display: block;
  padding: 16px;
}
.rink-btn a {
  color: #ffffff;
}
/* トップへのリンクボタン */
.page-top {
  position: relative;
  line-height: 1.1;
  writing-mode: vertical-rl;
  width: 100%;
}
.page-top a {
  display: block;
  right: 20px;
  bottom: 20px;
  padding: 15px 0 3px 7px;
  font-size: 11px;
  font-weight: bold;
  font-family: Cormorant SC, serif;
  white-space: nowrap;
  transition: 0.3s ease-in-out;
}

/* 
    File Name   : common.css
    Description : コンテンツエリア共通
*/

.contents {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (max-width: 811px) {
}
/* title */
.ttl-01 {
  line-height: 1.3;
  color: #392d2b;
  text-align: center;
}
.ttl-01 span {
  display: block;
  background-color: #ffffff;
  opacity: 0.8;
}

.ttl-01 span[lang="en"] {
  font-size: 60px;
  font-weight: 500;
  font-family: "Cormorant SC", serif;
  /* later-spacing: 5px; */
}
.ttl-01 span[lang="ja"] {
  font-size: 16px;
}
.ttl-01 span img {
  vertical-align: middle;
  margin-bottom: 0.3em;
}
.closing_sec {
  padding: 90px;
}

.contents__closing__ttl {
  font-size: 24px;
  text-align: center;
  padding-bottom: 30px;
}
.contents__closing__text {
  font-size: 16px;
  text-align: center;
}

/* アンデルセンの志バナー */
.contents-banner {
  padding: 120px 0 30px;
  border-top: 1px solid #efefef;
}
.contents-banner a {
  background: url(../img/img024.jpeg) no-repeat 50% 50%;
  background-size: cover;
  height: 220px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.content-banner__ttl {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0.3em;
}

/* .title_sec {
  padding: 6px;
  width: 200px;
  height: 30px;
} */

/* .js-img-fit  */
.js-img-fit img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  font-family: "object-fit: cover;";
}
