@charset "utf-8";

/* common */
.header {
  margin-bottom: 0;
}
.container {
  margin-top: 0;
}
.global-nav-list__item:nth-child(5) a span:after {
  width: 100%;
}
/* title */
.ttl-01 {
  line-height: 1.3;
  color: #392d2b;
  text-align: center;
}
.ttl-01 span {
  display: block;
  background-color: #ffffff;
  opacity: 0.8;
  padding: 5px;
}

.ttl-01 span[lang="en"] {
  font-size: 60px;
  font-weight: 500;
  font-family: "Cormorant SC", serif;
}
.ttl-01 span[lang="ja"] {
  font-size: 16px;
}
.ttl-01 span img {
  vertical-align: middle;
  margin-bottom: 0;
}

.think-kv {
  position: relative;
  height: calc(100vh - 120px);
  min-height: 600px;
}
.think-kv__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.think-kv__ttl {
  position: relative;
  top: 42%;
}

@media screen and (max-width: 811px) {
  .think-kv {
    height: 50vh;
    min-height: 280px;
  }
  .think-kv__ttl {
    top: 38%;
    max-width: 70%;
    margin: 0 auto;
  }
}
/*======= index ===========*/
.contents__think {
  padding: 110px 0 10px;
}
.contents__think__ttl {
  text-align: center;
  font-size: 26px;
  margin-bottom: 1.5em;
}
.contents__think__ttl > span {
  margin: 0 0.5em;
  font-family: "Cormorant SC", serif;
}
.contents__think__lead {
  text-align: center;
  line-height: 2.5;
  margin-bottom: 110px;
  font-size: 17px;
  white-space: nowrap;
  letter-spacing: 2;
}
.contents__think__lead2 {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  white-space: nowrap;
  letter-spacing: 2;
}
.br-sp {
  display: none;
}

.hygge-img {
  width: 60%;
  height: auto;
}
.lead2 {
  padding: 80px;
}
@media screen and (max-width: 811px) {
  .contents__think {
    padding-top: 60px;
  }
  .contents__think__lead {
    line-height: 2;
    font-size: 16px;
    margin-bottom: 80px;
  }
  .contents__think__lead2 {
    display: block;
  }
  .br-sp {
    display: block;
  }

  .hygge-img {
    width: 100%;
    margin: 0 auto;
  }
  .lead2 {
    text-align: center;
    padding: 50px;
  }
}

/*＝＝＝＝＝ index 終わり ＝＝＝＝＝＝*/

/*＝＝＝＝＝ リンクボタン ＝＝＝＝＝＝＝*/
.navlist_sec {
  display: block;
  position: fixed;
  top: 50%;
  left: 5%;
  line-height: 1.6;
  background-color: #faebd7;
  opacity: 0.8;
  padding: 10px;
}
.navlist {
  font-size: 20px;
  font-family: "Cormorant SC", serif;
}
.navlist a {
  opacity: 0.5;
}
/* リストの丸 疑似要素*/
.navlist_sec a:after {
  content: "";
  background: #df884e;
  width: 8px;
  height: 8px;
  position: absolute;
  left: -18px;
  top: calc(50% - 4px);
  display: block;
  border-radius: 50%;
  opacity: 0;
}
.navlist_sec a._on:after {
  opacity: 1;
  color: #333333;
}

@media screen and (max-width: 811px) {
  .navlist_sec {
    display: none;
  }
}
.floating-box {
  width: 60px;
  height: 160px;
  position: fixed;
  top: 60%;
  right: 0px;
  background-color: #392d2b;
  color: #ffffff;
  writing-mode: vertical-rl;
}
.rink-btn {
  display: block;
  padding: 16px;
}
.rink-btn a {
  color: #ffffff;
}
@media screen and (max-width: 811px) {
  .floating-box {
    opacity: 0.7;
    font-size: 12px;
    writing-mode: horizontal-tb;
    width: 100%;
    height: 50px;
    top: 95%;
  }
}

/* トップへのリンクボタン */
.page-top {
  position: relative;
  line-height: 1.1;
  writing-mode: vertical-rl;
  width: 100%;
}
.page-top a {
  display: block;
  right: 20px;
  bottom: 20px;
  padding: 15px 0 3px 7px;
  font-size: 11px;
  font-weight: bold;
  font-family: Cormorant SC, serif;
  white-space: nowrap;
  transition: 0.3s ease-in-out;
}

/* 
    File Name   : common.css
    Description : コンテンツエリア共通
*/

.contents {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
}

.closing_sec {
  padding: 20px;
}
.contents__closing__ttl {
  font-size: 24px;
  text-align: center;
  padding-bottom: 30px;
}
.contents__closing__ttl span {
  font-family: "Cormorant SC", serif;
}
.contents__closing__text {
  font-size: 16px;
  text-align: center;
}
/* アンデルセンの志バナー */
.contents-banner {
  padding: 120px 0 30px;
  max-width: 960px;
  margin: 0 auto;
}
.contents-banner a {
  background: url(../img/img024-2.jpg) no-repeat 50% 50%;
  background-size: cover;
  height: 220px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.content-banner__ttl {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0.3em;
}
@media screen and (max-width: 811px) {
  .contents-banner {
    padding: 50px 0 20px;
  }
  .content-banner__ttl > span {
    font-size: 16px;
  }
  .contents-banner a {
    height: 30vw;
  }
}
/* /* ローディングアニメーション  */
/* * {
  margin: 0;
  padding: 0;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;
} */
#loading {
  width: 100vw;
  height: 100vh;
  transition: 2s;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
.loading {
  color: #392d2b;
  font-family: "Cormorant SC", serif;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50vh;
  width: 70vh;
  text-align: center;
  font-size: 10vmin;
}
.loading > span {
  opacity: 0;
}

.loading > span:first-of-type {
  animation: letterFade 4s ease-in-out infinite;
  animation-delay: 0.1s;
}

.loading > span:nth-of-type(2) {
  animation: letterFade 4s ease-in-out infinite;
  animation-delay: 0.2s;
}

.loading > span:nth-of-type(3) {
  animation: letterFade 4s ease-in-out infinite;
  animation-delay: 0.3s;
}

.loading > span:nth-of-type(4) {
  animation: letterFade 4s ease-in-out infinite;
  animation-delay: 0.4s;
}

.loading > span:last-of-type {
  animation: letterFade 4s ease-in-out infinite;
  animation-delay: 0.5s;
}
.loaded {
  opacity: 1;
  visibility: hidden;
}
@media screen and (max-width: 811px) {
  .loading {
    width: 50vh;
  }
}
@keyframes letterFade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* /* ローディングアニメーション終了 */
.wrapper {
  animation-name: fade-in;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* .js-img-fit  */
.js-img-fit img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  font-family: "object-fit: cover;";
}
